﻿<h1>Список рецептов</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="add()" />
<table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
        <tr>
            <td>Автор</td>
            <td>Название</td>
            <td>Рецепт</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <ng-template [ngIf]="product?.id != p.id" [ngIfElse]="edit">
                <td>{{p?.autor}}</td>
                <td>{{p?.name}}</td>
                <td>{{p?.discription}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="editProduct(p)">Изменить</button>
                </td>
                <td><button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button></td>
            </ng-template>
        </tr>
    </tbody>
</table>

<!--шаблон для редактирования-->
<ng-template #edit>
    <td>
        <input type="text" [(ngModel)]="product.autor" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="product.name" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="product.discription" class="form-control" />
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
    </td>
    <td><input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" /></td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
    <div class="form-group">
        <label>Автор</label>
        <input type="text" [(ngModel)]="product.autor" class="form-control" />
    </div>
    <div class="form-group">
        <label>Название</label>
        <input type="text" [(ngModel)]="product.name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Рецепт</label>
        <input type="text" [(ngModel)]="product.discription" class="form-control" />
    </div>
    <div>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>